h3{
    text-align: center;
    font-size: 64px;
    background-color: bisque;
    margin: 0 auto;
}
p{
    margin: 0 auto;
    border: 1px solid black;
    width: 33%;
    float: left;
    background-color: peachpuff;
}